body {
    background: #111;
    width: 100%;
    display: block;
    margin: 0;
}

@media (max-width : 487px) {
    canvas {
        display: block;
        margin: 0;
    }
}

@media (min-width : 488px) {
    canvas {
        display: block;
        margin: 4px auto;
    }
}

element.style {
    width: 240px;
    height: 400px;
}